@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.outerContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../../assets/footer-bg.png);
}
.innerContainer {
  height: 80%;
  width: 95vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  /* background-color: aqua; */
}

.logo {
  text-align: center;
  color: black;
}
.logo > h6 {
  font-family: "Assistant";
  font-size: 20px;
  font-weight: 600;
  line-height: 31.39px;
  margin-top: 3rem;
}

.para {
  font-family: "Assistant";
  font-size: 20px;
  font-weight: 400;
  line-height: 26.16px;
  text-align: left;
}
.para > span {
  font-family: "Assistant";
  font-size: 1rem;
  font-weight: 400;
  line-height: 26.16px;
  text-align: left;
}
.mapImage {
  width: 410px;
  height: 405px;
}

.socialIcons {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}
