@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home-container{
  overflow: hidden;
}
.discount-strip {
  background-color: #23a6f0;
  padding: 1rem, 189px, 1rem, 189px;
  width: 100vw;
  height: 66px;
  font-family: "Montserrat";
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.discount-strip > p > span {
  font-weight: 700;
}

/* Experties Section */
.title > h4 {
  font-size: 1.5rem;
  font-family: "Montserrat";
  font-weight: 700;
  color: #000;
  /* line-height: 31px; */
}
.title > p {
  font-size: 0.9rem;
  font-family: "Montserrat";
  font-weight: 400;
  color: #000;
  width: 500px;
  margin-top: 1em;
}
.outer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.inner-container {
  max-width: 85vw;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.icon {
  width: 25.72px;
  height: 25.72px;
  border-radius: 5px;
  transform: rotate(-45deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.cards {
  margin-top: 1rem;
  display: flex;
  width: 45%;
  gap: 1rem;
  flex-direction: column;
  padding: 1rem;
  /* background-color: bisque; */
}
.title {
  padding-left: 4rem;
}

.card-container {
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: end;
}

.image-icon {
  transform: rotate(45deg) !important;
}

.cards > h4 {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 500;
  color: #000;
}
.cards > p {
  font-size: 0.8rem;
  font-family: "Montserrat";
  font-weight: 400;
  color: #000;
}

/* Contact Section */

.title-section {
  display: flex;
  gap: 1rem;
}

.title-section > p {
  font-size: 1.5rem;
  font-family: "Montserrat";
  font-weight: 600;
  color: #000;
}
.title-section > p > span {
  font-size: 1.5rem;
  font-family: "Montserrat";
  font-weight: 700;
  color: #000;
}
.para-section > p {
  font-size: 1.3rem;
  font-family: "Montserrat";
  font-weight: 500;
  color: #000;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.button > button {
  font-family: "Montserrat";
  height: 52px;
  padding: 10px 70px 10px 70px;
  font-size: 20px;
  font-weight: 700;
  background-color: #ffa229;
  border-radius: 10px;
  border: none;
  color: #fff;
}



@media (max-width: 769px) {
  .discount-strip {
    background-color: #23a6f0;
    padding: 1rem, 200px, 1rem, 200px;
    width: 100vw;
    height: 66px;
    font-family: "Montserrat";
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .inner-container{
    display: flex;
    flex-direction: column;
  }
}